extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Casey Holland

        p Full Stack JavaScript Developer


        .about-bio

          p I am a business analyst who has over 5 years experience inside telecom management technology. My experience  piqued my interest in development and set my sites on a Techdegree through Team Treehouse. I have learned the basics of HTML, CSS, and JavaScript on the front end as well as the basics of Node, Express, and NPM modules on the backend. This site is one of the many programs I have now written in completion of my Techdegree and in search of a career in development. 
          span
          p In addition to a growing knowledge of full stack development, I have taken the opportunity to engage in peer reviews to practice handling code from other developers. I am a fast learner who is dedicated to his job and look forward to exercising my skills and dedication as a professional developer.
            
        
          


      .skills-contact-box.box
        h6 Skills


        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info


        ul
          li 252-481-7185
          li caseyholland972@gmail.com

        //- Linking personal LinkedIn and GitHub but tagging general JavaScript page for Twitter.
        a.btn-link(href='https://www.linkedin.com/in/casey-holland-88559476/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/kckracker' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/JavaScript' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back