extends layout 

block content 

    nav.nav
        a(href='/')
            span &larr;
            |  Back

    //- Pushing inherited error message and status data to page dynamically
    h1.error-page= error.message
    div
    h2.error-page= `Error ${error.status}`
        h3.error-page More dev details: 
        textarea.error-page
            p.error-page= error.stack

    nav.nav
        a(href='/')
            span &larr;
            |  Back