extends layout.pug

block content

  article.portfolio-intro

    
    h1 Programming Portfolio

    //- General description of this project / welcome to the site. 
    p Welcome to my NodeJS / Express enabled project displaying previous JavaScript projects worked through the Team Treehouse program. You will find below a showcase of my existing Techdegree work as a budding developer. Throughout the various projects, I have learned a wide array of logic and skill from writing forms, working with object-oriented programming, resourcing data from external data sets, and more. Please explore the site and thank you for visiting!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Using the Pug `each` iterator to loop over the inherited projects from data.json
      each project of projects

        //- For each project, generating cell division with images and project names pulled from inherited projects data
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail - ${project.project_name}`)
            h5= project.project_name

